<script>
  import Nav from "./Nav.svelte";
  import Home from "./Home.svelte";
  import Footer from "./Footer.svelte";
</script>

<main class="h-full bg-gray-50">
  <Nav name="workpeer" />
  <div class="z-30 px-4 sm:px-10 md:px-14 lg:px-24 py-8 flex flex-col">
    <div class="relative top-36"><Home /></div>
  </div>
  <Footer />
</main>
