<script>
</script>

<nav
  class="z-30 fixed bottom-0 left-0 right-0 text-center lg:text-left block space-y-6 lg:space-y-0 lg:flex justify-between h-max w-full bg-gray-50 px-4 sm:px-10 md:px-14 lg:px-24 py-4"
>
  <div class="w-full lg:w-4/12 flex flex-col justify-center">
    <p class="font-normal text-gray-500 my-auto h-min" style="font-size: 12px;">
      © Copyright 2021 <br class="lg:hidden" /><a
        href="https://aztlan.in"
        class="inline-block h-min"
        ><span
          class="h-min font-normal text-gray-500 h-min transition duration-150 ease-in-out hover:text-gray-700"
        >
          Aztlan Pvt Ltd
        </span></a
      > <br class="lg:hidden" />All rights reserved.
    </p>
  </div>
  <div class="block lg:flex w-full lg:w-4/12 justify-center lg:space-x-4">
    <div class="block justify-start lg:flex flex-col lg:justify-center">
      <a target="_blank" href="terms.html"
        ><p
          class="hover:underline font-normal text-gray-500 h-min transition duration-150 ease-in-out hover:text-gray-700"
          style="font-size: 12px;"
        >
          Terms of service
        </p></a
      >
    </div>
    <div class="block justify-start lg:flex flex-col lg:justify-center">
      <a target="_blank" href="privacy.html"
        ><p
          class="hover:underline font-normal text-gray-500 transition duration-150 ease-in-out hover:text-gray-700"
          style="font-size: 12px;"
        >
          Privacy Policy
        </p></a
      >
    </div>
  </div>
  <div class="flex space-x-4 w-full lg:w-4/12 justify-center lg:justify-end">
    <a target="_blank" href="mailto:contact@aztlan.in"
      ><p
        class="text-xl font-normal text-gray-500 transition duration-150 ease-in-out rounded-full px-2 py-1 hover:bg-gray-500 hover:text-gray-50"
      >
        <i class="fa fa-envelope" aria-hidden="true" />
      </p></a
    >
    <a target="_blank" href="https://twitter.com/workpeer?s=09"
      ><p
        class="text-xl font-normal text-gray-500 transition duration-150 ease-in-out rounded-full px-2 py-1 hover:bg-gray-500 hover:text-gray-50"
      >
        <i class="fa fa-twitter" aria-hidden="true" />
      </p></a
    >
    <a
      target="_blank"
      href="https://www.linkedin.com/company/aztlan-pvt-ltd/mycompany/"
      ><p
        class="text-xl font-normal text-gray-500 transition duration-150 ease-in-out rounded-full px-2 py-1 hover:bg-gray-500 hover:text-gray-50"
      >
        <i class="fa fa-linkedin-square" aria-hidden="true" />
      </p></a
    >
    <a target="_blank" href="https://medium.com/workpeer"
      ><p
        class="text-xl font-normal text-gray-500 transition duration-150 ease-in-out rounded-full px-2 py-1 hover:bg-gray-500 hover:text-gray-50"
      >
        <i class="fa fa-medium" aria-hidden="true" />
      </p></a
    >
  </div>
</nav>
