<script>
  let emailID;
  import axios from "axios";
  let msg = "";
  let msgVisibility = "hidden";
  let test;

  let Register = async (emailID) => {
    test = await new RegExp("[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2}$").test(
      emailID
    );
    if (test == true) {
      await axios({
        method: "post",
        url: "https://api.workpeer.in/api/v1/contact_us?email=" + emailID,
        data: {
          email: emailID,
        },
      }).then((response) => {
        console.log(response.data.status_code);
        if (response.data.status_code.toString() == "201") {
          msg = "Thanks for registering for beta";
        } else {
          msg = response.data.detail;
        }
        msgVisibility = "visible";
        document.getElementById("inputEmail").value = "";
        setTimeout(function () {
          msgVisibility = "hidden";
        }, 3500);
      });
    } else {
      msgVisibility = "visible";
      msg = "Incorrect Email Format!";
      document.getElementById("inputEmail").value = "";
      setTimeout(function () {
        msgVisibility = "hidden";
      }, 3500);
    }
  };
</script>

<div class="mx-auto align-middle w-11/12 sm:w-full10/12 md:w-9/12 lg:6/12">
  <div class="mx-auto w-max">
    <div class="w-max">
      <h1
        class="w-max p-0 align-middle my-auto text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold text-gray-600"
      >
        Focus on people<br />not meetings
      </h1>
    </div>
    <div class="relative top-4 w-max">
      <p class="text-xs lg:text-lg font-medium text-gray-500 w-max">
        Effortless scheduling meets objective based <br
          class="inline-block sm:hidden"
        />meetings <br class="sm:inline-block hidden" />built for hyper
        productive teams.
      </p>
    </div>
    <div class="relative top-8 block sm:flex justify-start sm:space-x-4">
      <input
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2}$"
        type="text"
        name="email"
        id="inputEmail"
        bind:value={emailID}
        class="text-center sm:text-left w-full sm:w-7/12 lg:w-8/12 px-4 shadow-sm focus:ring-gray-500 focus:border-gray-500 block sm:text-sm border-gray-300 rounded-md"
        placeholder="Enter your email"
      />
      <button
        on:click={Register(emailID)}
        class="w-full sm:w-max sm:inline-flex items-center px-4 py-2 border border-transparent text-xs sm:text-sm lg:text-base font-medium rounded-md shadow-sm text-white bg-gray-600 hover:bg-gray-700 focus:bg-gray-700"
      >
        Join Waitlist
      </button>
    </div>
    <div
      class="relative text-center sm:text-right w-full sm:w-max -top-4 sm:-top-6 "
    >
      <label
        for="inputEmail"
        class="{msgVisibility} text-gray-500 font-light text-xs h-min transition duration-150 ease-in-out "
        >{msg}</label
      >
    </div>
  </div>
</div>
