<script>
  export let name;
</script>

<nav
  class="h-max fixed top-0 left-0 right-0 w-full bg-gray-50 px-4 sm:px-10 md:px-14 lg:px-24 py-8"
>
  <a href="/" class="outline-none"
    ><p class="font-medium text-base text-gray-600 uppercase">{name}</p></a
  >
</nav>
